@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Anyone4Tennis!</h1>
    <p>Want to get active? Looking for a great social sport? Have a fitness goal? Tennis can be the answer for all those questions!</p>
    <p>Anyone4Tennis is a tennis organisation by locals for locals. Founded in [REDACTED], the organisation has recieved widespread acceptance across the city.</p>
    <p>Everybody is welcome, from the newbies to the professinals. We have a class for a wide range of skill sets and a wide range of ages.</p>
    <p>Join us for a match, we can't wait!</p>
</div>