@page
@using Anyone4Tennis.Models
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Coach"))
            {
                <div class="form-floating mb-3">
                    <textarea class="form-control" asp-for="Input.Biography" rows="4"></textarea>
                    <label asp-for="Input.Biography" class="form-label">Biography</label>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Photo">Upload Photo</label>
                    <input type="file" asp-for="Input.Photo" class="form-control" />
                    <span asp-validation-for="Input.Photo" class="text-danger"></span>
                </div>
            }

            else if (User.IsInRole("Member"))
            {
                <div class="form-floating mb-3">
                    <input asp-for="Input.Active" class="form-control" />
                    <label asp-for="Input.Active" class="form-label">Membership Status</label>
                </div>
            }

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
